In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',None)

In [2]:
df= pd.read_excel('G-SWA.xlsx')
df.shape

(36078, 34)

In [3]:
df.head()

,idnum,original_country,wave,country,originalcountry,regionname,gender,agegroups,education,industry_job,age,tertiary,graduate,married,male,with_kids,male_with_kids,n_work_home,daysemployer_work_home,daysemployee_work_home,value_WFH_rawpercent25,commuting_time,WFH_expectations1,WFHperceptions,return_office,ever_WFH,commute_time_hs,deaths_pc,LSI,reg_deaths_pc,subn_LSI,oxf_LSI,gdppc2019,mask
0,1,Australia,1,Australia 1,27,Victoria,Male,50-59,Secondary,Professional & Business Services,56,0,0,1.0,1,0.0,0.0,0.0,0.0,0,0.0,12,-25.0,-75,NaN,100,0.200000,0.000036,11.689555,0.000123,9.047081,1049.078321,58781.046657,7.840399
1,2,Australia,1,Australia 1,27,Queensland,Male,40-49,Tertiary,Professional & Business Services,48,1,0,1.0,1,0.0,0.0,0.0,0.0,1,0.0,90,0.0,0,NaN,100,1.500000,0.000036,11.689555,0.000001,7.829032,1049.078321,58781.046657,7.840399
2,3,Australia,1,Australia 1,27,Victoria,Male,30-39,Graduate,Professional & Business Services,38,0,1,0.0,1,0.0,0.0,5.0,0.0,0,0.0,120,0.0,0,NaN,100,2.000000,0.000036,11.689555,0.000123,9.047081,1049.078321,58781.046657,7.840399
3,4,Australia,1,Australia 1,27,Victoria,Male,40-49,Graduate,Health Care & Social Assistance,48,0,1,0.0,1,0.0,0.0,0.0,0.0,0,-2.5,60,NaN,95,NaN,0,1.000000,0.000036,11.689555,0.000123,9.047081,1049.078321,58781.046657,7.840399
4,5,Australia,1,Australia 1,27,Victoria,Male,20-29,Secondary,Other,29,0,0,1.0,1,0.0,0.0,NaN,0.0,0,0.0,2,NaN,0,NaN,0,0.033333,0.000036,11.689555,0.000123,9.047081,1049.078321,58781.046657,7.840399

In [6]:
df.value_counts()

idnum  original_country  wave  country      originalcountry  regionname       gender  agegroups  education  industry_job                      age  tertiary  graduate  married  male  with_kids  male_with_kids  n_work_home  daysemployer_work_home  daysemployee_work_home  value_WFH_rawpercent25  commuting_time  WFH_expectations1  WFHperceptions  return_office                    ever_WFH  commute_time_hs  deaths_pc  LSI        reg_deaths_pc  subn_LSI   oxf_LSI      gdppc2019     mask
1      Brazil            2     Brazil 2     1                Espirito Santo   Male    50-59      Secondary  Construction                      50   0         0         1.0      1     1.0        1.0             0.0          0.0                     5                        30.0                   0                25.0               0              Comply and return to worksite    100       0.000000         0.002933   22.524194  3.361577e-03   19.036156  1474.803435  8638.282907   21.666667    1
651    Brazil            2     Brazil 2     1                Sao Paulo        Male    40-49      Tertiary   Health Care & Social Assistance   40   1         0         0.0      1     0.0        0.0             3.0          5.0                     5                        7.5                    40               25.0               95              Look for a job to WFH 1-2 days  100       0.666667         0.002933   22.524194  3.437658e-03   17.430530  1474.803435  8638.282907   21.666667    1
645    India             2     India 2      19               Delhi            Female  50-59      Graduate   Manufacturing                     50   0         1         1.0      0     1.0        0.0             1.0          1.0                     4                        12.5                   190              15.0               70             Comply and return to worksite    100       3.166667         0.000356   22.483871  1.540689e-03   17.158065  1685.532853  1972.757821   20.572043    1
       USA               2     USA 2        3                Maryland         Male    20-29      Secondary  Other                             27   0         0         0.0      1     0.0        0.0             0.0          0.0                     0                       -12.5                   20              -25.0              -95             Comply and return to worksite    100       0.333333         0.002674   21.491935  1.984387e-03   8.757258   1436.295942  60836.771454  21.188172    1
646    Brazil            2     Brazil 2     1                Sao Paulo        Male    40-49      Graduate   Professional & Business Services  42   0         1         1.0      1     1.0        1.0             5.0          3.0                     3                        7.5                    40               25.0              -25             Comply and return to worksite    100       0.666667         0.002933   22.524194  3.437658e-03   17.430530  1474.803435  8638.282907   21.666667    1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ..
330    China             2     China 2      18               Guangxi          Female  30-39      Tertiary   Arts & Entertainment              33   1         0         1.0      0     1.0        0.0             5.0          0.0                     5                        0.0                    60               5.0                25             Comply and return to worksite    100       1.000000         0.000003   21.768548  3.989881e-08   4.238441   1651.032532  10155.417556  6.805914     1
       India             2     India 2      19               Andhra Pradesh   Female  30-39      Secondary  Retail Trade                      37   0         0         1.0      0     1.0        0.0             0.0          2.0                     2                        7.5                    45               25.0               70             Comply and return to worksite    100       0.750000         0.000356   22.483871  2.947933e-04   18.967204  1685.532853  1972.757821   20.572043    1
331    Australia         2     Australia 2  27               South Australia  Female  20-29      Tertiary   Information                       24   1         0         0.0      0     0.0        0.0             2.0          1.0                     2                        0.0                    50               5.0                70             Comply and return to worksite    100       0.833333         0.000149   16.855146  1.074036e-05   7.762366   1441.499009  58781.046657  13.840399    1
       China             2     China 2      18               Zhejiang         Male    30-39      Tertiary   Finance or Insurance              38   1         0         1.0      1     1.0        1.0             0.0          0.0                     1                        0.0                    100              5.0               -25              Look for a job to WFH 1-2 days  100       1.666667         0.000003   21.768548  1.411707e-08   7.332527   1651.032532  10155.417556  6.805914     1
1244   USA               2     USA 2        3                South Carolina   Female  50-59      Tertiary   Government                        59   1         0         0.0      0     0.0        0.0             5.0          3.0                     4                        7.5                    140              0.0                95              Look for a job to WFH 1-2 days  100       2.333333         0.002674   21.491935  2.890147e-03   4.701613   1436.295942  60836.771454  21.188172    1
Name: count, Length: 2344, dtype: int64

In [7]:
df.agegroups.value_counts()

agegroups
30-39    11228
40-49     9738
50-59     8339
20-29     6773
Name: count, dtype: int64

In [8]:
df.education.value_counts()

education
Tertiary     12228
Secondary    12024
Graduate     11826
Name: count, dtype: int64

In [9]:
df.original_country.value_counts()

original_country
Germany        2526
Sweden         2352
Netherlands    2237
USA            2079
China          1896
Turkey         1767
Ukraine        1725
Poland         1669
Hungary        1621
Greece         1518
UK             1501
Australia      1455
France         1348
Korea          1087
Taiwan         1055
Malaysia       1012
Singapore      1002
India           970
Russia          944
Italy           930
Japan           924
Serbia          913
Canada          895
Spain           757
Brazil          734
Austria         657
Egypt           504
Name: count, dtype: int64

In [10]:
df.originalcountry.value_counts()
## original_country encoded

originalcountry
6     2526
14    2352
10    2237
3     2079
18    1896
15    1767
17    1725
11    1669
8     1621
7     1518
16    1501
27    1455
5     1348
21    1087
25    1055
22    1012
24    1002
19     970
23     944
9      930
20     924
12     913
2      895
13     757
1      734
4      657
26     504
Name: count, dtype: int64

In [11]:
# df.country.value_counts()
## participants per country per wave - not relevant

In [12]:
df.industry_job.value_counts()

industry_job
Manufacturing                       4657
Other                               4206
Health Care & Social Assistance     3326
Education                           3070
Professional & Business Services    2780
Retail Trade                        2658
Government                          2245
Construction                        2140
Information                         2096
Finance or Insurance                2081
Transportation or Warehousing       1668
Hospitality & Food Services         1120
Utilities                           1082
Wholesale Trade                     1049
Arts & Entertainment                 632
Agriculture                          552
Real Estate                          459
Mining                               257
Name: count, dtype: int64

In [13]:
df..value_counts()

SyntaxError: invalid syntax (4008939058.py, line 1)

In [ ]:
df..value_counts()