In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv('WFHdata_February24.csv')

C:\Users\Dana\AppData\Local\Temp\ipykernel_15656\1469787668.py:1: DtypeWarning: Columns (373,383) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv('WFHdata_February24.csv')

In [3]:
df.head()

,cratio100,icratio100,cratio100_2021m3,icratio100_2021m3,cratio100_nw,icratio100_nw,date,income,age_quant,agebin,...,workday_hours_textemail,workday_hours_indivwork,workday_hours_downtime,workday_pct_videocall,workday_pct_f2fmeeting,workday_pct_textemail,workday_pct_indivwork,workday_pct_downtime,wfh_ideal_physical_health,wfh_ideal_mental_health
0,0.000601,0.000361,0.004518,0.002505,0.000579,0.000357,2020m9,35.0,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.000060,0.000117,NaN,NaN,0.000058,0.000115,2023m10,112.5,25,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.000022,0.000085,NaN,NaN,0.000021,0.000084,2022m12,225.0,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.000069,0.000133,NaN,NaN,0.000066,0.000132,2023m9,112.5,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.000785,0.000472,NaN,NaN,0.000756,0.000466,2022m12,35.0,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(236164, 611)

### Extracting 'year' and 'month' from the 'date' column

In [5]:
# Function to extract year from the 'date' column
def extract_year(date_str):
    return int(date_str[:4])

# Function to extract month from the 'date' column
def extract_month(date_str):
    return int(date_str[5:])

# Apply the functions to create new columns
df['year'] = df['date'].apply(extract_year)
df['month'] = df['date'].apply(extract_month)

df.head()

,cratio100,icratio100,cratio100_2021m3,icratio100_2021m3,cratio100_nw,icratio100_nw,date,income,age_quant,agebin,...,workday_hours_downtime,workday_pct_videocall,workday_pct_f2fmeeting,workday_pct_textemail,workday_pct_indivwork,workday_pct_downtime,wfh_ideal_physical_health,wfh_ideal_mental_health,year,month
0,0.000601,0.000361,0.004518,0.002505,0.000579,0.000357,2020m9,35.0,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,9
1,0.000060,0.000117,NaN,NaN,0.000058,0.000115,2023m10,112.5,25,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023,10
2,0.000022,0.000085,NaN,NaN,0.000021,0.000084,2022m12,225.0,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,12
3,0.000069,0.000133,NaN,NaN,0.000066,0.000132,2023m9,112.5,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023,9
4,0.000785,0.000472,NaN,NaN,0.000756,0.000466,2022m12,35.0,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,12

In [6]:
# "keep 'year' & 'month' colunmns"

### Participants

In [7]:
# df.birth_year.value_counts(dropna=False) 
##What year were you born?"

In [8]:
df.age_quant.value_counts(dropna=False)

age_quant
35    84710
45    59857
57    52875
25    38722
Name: count, dtype: int64

In [9]:
df.agebin.value_counts(dropna=False)

agebin
3    84710
4    59857
5    52875
2    38722
Name: count, dtype: int64

In [10]:
unique_bins = df['agebin'].unique()

# Define a function to calculate age range
def calculate_age_range(age_quant):
    return f"{age_quant.min()}-{age_quant.max()}"

# Create a list to store bin ranges
bin_ranges = []

# Calculate age ranges for each bin
for bin_value in unique_bins:
    age_quant_values = df[df['agebin'] == bin_value]['age_quant']
    age_range = calculate_age_range(age_quant_values)
    bin_ranges.append({'Bin': bin_value, 'Age Range': age_range})

# Create a DataFrame from the list of dictionaries
bin_ranges_df = pd.DataFrame(bin_ranges)

# Display the DataFrame
print(bin_ranges_df)

   Bin Age Range
0    3     35-35
1    2     25-25
2    4     45-45
3    5     57-57

In [11]:
## keep column - agebin for modeling

In [12]:
df.gender_d.value_counts(dropna=False)
## Sex, including 'Other or prefer not to say

gender_d
1.0    119842
2.0    112410
NaN      2954
3.0       958
Name: count, dtype: int64

In [13]:
df.gender_d=df.gender_d.fillna(3.0)
df.gender_d.value_counts(dropna=False)

gender_d
1.0    119842
2.0    112410
3.0      3912
Name: count, dtype: int64

### Education

In [14]:
df.educ_years.value_counts(dropna=False)

educ_years
16    65473
14    57033
18    51106
12    50539
21     8003
10     4010
Name: count, dtype: int64

In [15]:
df.education.value_counts(dropna=False)

education
4    65473
3    57033
5    51106
2    50539
6     8003
1     4010
Name: count, dtype: int64

In [16]:
df.education_s.value_counts(dropna=False)

education_s
4    65473
5    59109
3    57033
2    50539
1     4010
Name: count, dtype: int64

In [17]:
## keep column - education_s for modeling

### Work status

In [18]:
df.workstatus_current.value_counts(dropna=False)
##label variable workstatus_current "Current working status - categorical(2019)"

workstatus_current
1.0    95987
2.0    82256
3.0    49713
NaN     8208
Name: count, dtype: int64

In [19]:
df.workstatus_current_new.value_counts(dropna=False)
##Currently (this week) what is your work status? - categorical. Version of the question asked since November 2020"

workstatus_current_new
1.0    175722
5.0     19264
NaN     13874
3.0     13302
2.0     11736
4.0      2266
Name: count, dtype: int64

In [20]:
df.workstatus_current_d.value_counts(dropna=False)
##Currently (this week) what is your work status - detailed version prior to November 2020"

workstatus_current_d
NaN    222290
2.0      5805
1.0      4924
4.0      1264
3.0      1011
5.0       654
6.0       216
Name: count, dtype: int64

### WFH hours

In [21]:
df.numwfh_days_postCOVID_s_u.value_counts(dropna=False)
## Desired share of paid working days WFH after COVID (%)

numwfh_days_postCOVID_s_u
0.000000      66515
100.000000    62189
60.000004     33899
40.000000     32611
80.000000     21548
20.000000     19402
Name: count, dtype: int64

In [22]:
df.wfh_days_postCOVID_s.value_counts(dropna=False)
## Desired number of paid WFH days after COVID - categorical

wfh_days_postCOVID_s
7    62189
1    45537
5    33899
4    32611
6    21548
2    20978
3    19402
Name: count, dtype: int64

In [23]:
df.wfh_days_postCOVID_ss.value_counts(dropna=False)
## Desired number of paid WFH days after COVID - categorical, bundling together rarely and never

wfh_days_postCOVID_ss
1    66515
6    62189
4    33899
3    32611
5    21548
2    19402
Name: count, dtype: int64

In [24]:
df.numwfh_days_postCOVID_boss_s_u.value_counts(dropna=False)
## Employer planned share of paid working days WFH after COVID (%)

numwfh_days_postCOVID_boss_s_u
0.000000      92464
100.000000    32278
NaN           30460
60.000004     22442
40.000000     20741
80.000000     18599
20.000000     12463
50.198910       402
52.455791       373
56.786800       329
53.815720       328
54.950642       327
54.540146       325
53.105480       302
54.773533       286
52.490162       282
53.728535       279
54.535950       277
54.246269       277
54.056335       277
54.238022       265
56.833778       248
52.640247       237
55.358940       232
52.736069       206
53.275158       198
41.751545       193
55.795280       190
54.274353       183
54.329494       182
53.944462       182
49.958664       177
52.830441       160
Name: count, dtype: int64

In [25]:
df.wfh_days_postCOVID_boss.value_counts(dropna=False)
## Employer's planned number of paid WFH days after COVID - categorical

wfh_days_postCOVID_boss
1.0    64152
7.0    32278
9.0    27053
8.0    25280
5.0    22442
4.0    20741
6.0    18599
3.0    12463
2.0     9749
NaN     3407
Name: count, dtype: int64

In [73]:
df.numwfh_days_postCOVID_boss_s_u_l.value_counts(dropna=False)
## Employer planned share of paid working days WFH after COVID (%) - this version does not reclassify workers w/o clear indications from their employers based on current working status

numwfh_days_postCOVID_boss_s_u_l
0.000000      99181
100.000000    32278
NaN           30460
60.000004     22442
40.000000     20741
80.000000     18599
20.000000     12463
Name: count, dtype: int64

In [26]:
df.wfh_days_postCOVID_boss_ss.value_counts(dropna=False)
## Employer's planned number of paid WFH days after COVID - categorical, bundling together rarely and never

wfh_days_postCOVID_boss_ss
1.0    73901
6.0    32278
8.0    27053
7.0    25280
4.0    22442
3.0    20741
5.0    18599
2.0    12463
NaN     3407
Name: count, dtype: int64

In [27]:
df.employer_arr_qual.value_counts(dropna=False)
## What plans does your employer have for working arrangements of full-time (employees after COVID, in 2022 or later?)

employer_arr_qual
NaN    232618
1.0      1711
2.0       849
4.0       470
3.0       448
5.0        68
Name: count, dtype: int64

In [28]:
df.workstatus_monday.value_counts(dropna=False)
## For each day last week, did you work a full day (6 or more hours), and if so where (i.e. from home, on employer or client premises)?
# 1 "Did not work" 2 "Worked from home" 3 "Worked on employer or client premises"

workstatus_monday
3.0    85797
NaN    66624
2.0    43113
1.0    40630
Name: count, dtype: int64

### Commute Time (minuts)

In [29]:
df.commutetime_quant.value_counts(dropna=False)
## Commute time (mins)

commutetime_quant
NaN      39132
30.0     21429
15.0     17609
0.0      16758
20.0     16755
         ...
113.5        1
98.5         1
90.5         1
27.1         1
100.5        1
Name: count, Length: 242, dtype: int64

In [30]:
df.wfh_extraeff_comm_qual.value_counts(dropna=False)
##Is time saved by not commuting part of your extra efficiency when working from home? - categorical
###DO NOT KEEP - TO MANY NaNs###

wfh_extraeff_comm_qual
NaN    165294
1.0     61143
2.0      9727
Name: count, dtype: int64

In [31]:
df.wfh_extraeff_comm_quant.value_counts(dropna=False)
## How much of your extra efficiency when working from home is due to the time you save by not commuting? -- This equals zero if commuting time savings are not included, or if relative efficiency of WFH is negative "

wfh_extraeff_comm_quant
NaN      98543
0.0      81279
100.0    15358
80.0      1528
85.0      1360
         ...
6.0         31
4.0         23
3.0         15
2.0         14
1.0          6
Name: count, Length: 101, dtype: int64

In [32]:
df.extratime_1stjob.value_counts(dropna=False)
##Percent of commute time savings spent working on primary or current job

extratime_1stjob
NaN     98105
0.0     29335
10.0    22671
20.0    21294
50.0     9225
        ...
87.0        4
77.0        3
73.0        3
71.0        3
79.0        2
Name: count, Length: 104, dtype: int64

In [33]:
# pd.set_option('display.max_rows', None)
df.commutetime_towork.value_counts(dropna=False)
## How long do you usually spend commuting to work (in minutes)?"

commutetime_towork
 NaN     76557
 30.0    22903
 20.0    18529
 15.0    17007
 0.0     14844
         ...
 61.0        9
 74.0        9
 73.0        8
 71.0        2
-20.0        1
Name: count, Length: 83, dtype: int64

In [34]:
df.commutetime_fromwork.value_counts(dropna=False) 
##How long do you usually spend commuting from work (in minutes)?"

commutetime_fromwork
 NaN     76557
 30.0    22901
 20.0    18196
 15.0    16103
 0.0     14934
         ...
 76.0       11
 79.0        9
 71.0        5
 73.0        4
-20.0        1
Name: count, Length: 83, dtype: int64

In [35]:
df.wfh_top3benefits_commute.value_counts(dropna=False)
##Top 3 benefits of WFH include: No commute"

wfh_top3benefits_commute
NaN      171082
0.0       40306
100.0     24776
Name: count, dtype: int64

### Effectivity

In [36]:
df.labsearch_qual.value_counts(dropna=False)
## Which of the following best describes your job search (with respect to WFH)?
# 1 "Only considering WFH jobs" 2 "Prefer jobs allowing WFH" 3 "No preference about WFH"

labsearch_qual
NaN    227603
2.0      3759
3.0      2665
1.0      2137
Name: count, dtype: int64

In [37]:
df.lesseff_reasons_homecomputer.value_counts(dropna=False)
## "Why are you less efficient when working from home? - My home computer is not good enough"

lesseff_reasons_homecomputer
NaN    234444
0.0      1542
1.0       178
Name: count, dtype: int64

In [38]:
df.moreeff_reasons_equip.value_counts(dropna=False)
## Apart from saving time by not commuting, why are you more efficient when working from home? - I have better equipment at home than at work"

moreeff_reasons_equip
NaN    226264
0.0      7231
1.0      2669
Name: count, dtype: int64

In [39]:
df.wfh_hoursinvest.value_counts(dropna=False)
## Hours invested in learning how to WFH effectively

wfh_hoursinvest
NaN      222478
5.0        1685
10.0       1502
0.0        1422
2.0        1274
          ...
148.0         1
51.0          1
128.0         1
53.0          1
87.0          1
Name: count, Length: 107, dtype: int64

In [40]:
df.wfh_able_quant.value_counts(dropna=False)
## How efficient are you at working from home? (%)

wfh_able_quant
NaN      214024
0.0        6761
100.0      5537
90.0       2909
80.0       1897
          ...
46.0          1
52.0          1
28.0          1
188.0         1
38.0          1
Name: count, Length: 202, dtype: int64

In [41]:
df.wfh_eff_COVID_qual.value_counts(dropna=False)
## How does your efficiency working from compare to your efficiency working on business premises before the pandemic? - categorical

wfh_eff_COVID_qual
NaN    204194
1.0     15614
2.0     12648
3.0      3708
Name: count, dtype: int64

In [42]:
df.wfh_invest_quant.value_counts(dropna=False)
## Money you & your employer invested in equipment/infrastructure to help you WFH effectively

wfh_invest_quant
NaN       222494
0.0         3244
500.0        994
100.0        960
1000.0       791
           ...
525.0          1
359.0          1
880.0          1
662.0          1
293.0          1
Name: count, Length: 429, dtype: int64

In [43]:
df.wfh_eff_COVID_pos_d.value_counts(dropna=False)

wfh_eff_COVID_pos_d
NaN    221771
4.0      3238
3.0      3049
6.0      2900
5.0      2721
2.0      1899
1.0       586
Name: count, dtype: int64

In [44]:
df.wfh_invest_burs.value_counts(dropna=False)
## Percent of money invested in equipment or infrastructure enabling WFH that was paid for or reimbursed by employer. Missing if no WFH or zero investment

wfh_invest_burs
NaN      226152
100.0      2298
0.0        1134
80.0        218
50.0        212
          ...
34.0         11
22.0          9
13.0          9
7.0           9
37.0          7
Name: count, Length: 102, dtype: int64

In [45]:
df.videocalls_preCOVID_percent.value_counts(dropna=False) 
##Before the pandemic, what percentage of your normal working day did you spend in video calls?"

videocalls_preCOVID_percent
NaN     229725
0.0       2032
10.0       514
50.0       493
20.0       433
         ...
51.0         1
73.0         1
74.0         1
63.0         1
84.0         1
Name: count, Length: 95, dtype: int64

In [46]:
df.videocalls_current_percent.value_counts(dropna=False) 
##Currently, what percentage of your normal working day do you spend in video calls?"

videocalls_current_percent
NaN     229725
0.0       1541
50.0       591
10.0       447
20.0       447
         ...
71.0         1
46.0         1
73.0         1
92.0         1
31.0         1
Name: count, Length: 96, dtype: int64

In [47]:
df.multitask_during_calls_num.value_counts(dropna=False)  
##When you are on work calls on Zoom/Teams/Webex what share of the time are you multi-tasking? - numerical"

multitask_during_calls_num
NaN     233698
20.0       466
10.0       360
50.0       234
0.0        157
         ...
46.0         1
81.0         1
37.0         1
62.0         1
53.0         1
Name: count, Length: 66, dtype: int64

In [48]:
df.multitask_during_calls_cat.value_counts(dropna=False)  
##When you are on work calls on Zoom/Teams/Webex what share of the time are you multi-tasking? - categorical"

multitask_during_calls_cat
NaN    233737
2.0       737
1.0       697
3.0       574
4.0       265
5.0       154
Name: count, dtype: int64

In [49]:
df.multitask_during_calls_catq.value_counts(dropna=False)  
##When you are on work calls on Zoom/Teams/Webex what share of the time are you multi-tasking? - quantitative from cat"

multitask_during_calls_catq
NaN     233737
30.0       737
10.0       697
50.0       574
70.0       265
90.0       154
Name: count, dtype: int64

In [50]:
# label variable offer_employed_wfh1days "Would you be more or less likely  to take the new job if it let you work from home 1 day a week? - categorical, employed respondents"
# label variable offer_employed_wfh23days "Would you be more or less likely  to take the new job if it let you work from home 2 to 3 day a week? - categorical, employed respondents"
# label variable offer_employed_wfh45days "Would you be more or less likely  to take the new job if it let you work from home 4 to 5 day a week? - categorical, employed respondents"

# label variable offer_unemployed_wfh1days "Would you be more or less likely  to take the job if it let you work from home 1 day a week? - categorical, unemployed respondents"
# label variable offer_unemployed_wfh23days "Would you be more or less likely  to take the job if it let you work from home 2 to 3 day a week? - categorical, unemployed respondents"
# label variable offer_unemployed_wfh45days "Would you be more or less likely  to take the job if it let you work from home 4 to 5 day a week? - categorical, unemployed respondents"

In [51]:
df.offer_employed_wfh1days.value_counts(dropna=False)

offer_employed_wfh1days
NaN    233204
1.0      1514
2.0      1001
3.0       445
Name: count, dtype: int64

In [52]:
df.two_video_calls.value_counts(dropna=False)

two_video_calls
NaN    231257
1.0      2417
2.0      1448
3.0       801
4.0       241
Name: count, dtype: int64

### Income

In [53]:
df.work_industry.value_counts(dropna=False)
## Industry of current or most recent job

work_industry
6.0     30287
11.0    25347
3.0     23891
5.0     20319
4.0     19421
13.0    17653
9.0     16688
8.0     14584
7.0     13389
17.0    10064
14.0     9376
18.0     7897
NaN      6689
2.0      5763
1.0      3970
12.0     3762
15.0     3024
16.0     3004
10.0     1036
Name: count, dtype: int64

In [54]:
df.occupation.value_counts(dropna=False)

occupation
12.0    49289
5.0     39261
10.0    24952
6.0     24733
8.0     24114
9.0     20200
2.0     14343
7.0     13858
11.0     7308
4.0      6835
NaN      4346
3.0      3602
1.0      3323
Name: count, dtype: int64

In [55]:
df.iincomebin.value_counts(dropna=False)

iincomebin
1.0    78431
2.0    73200
3.0    39544
4.0    35355
0.0     9030
NaN      604
Name: count, dtype: int64

In [56]:
df.iincomebin=df.iincomebin.fillna(0.0)
df.iincomebin.value_counts(dropna=False)

iincomebin
1.0    78431
2.0    73200
3.0    39544
4.0    35355
0.0     9634
Name: count, dtype: int64

In [57]:
df.income_year.value_counts(dropna=False)

income_year
2022    83093
2019    76215
2021    65282
2023    11574
Name: count, dtype: int64

### Preference

In [58]:
df.wfh_feel_new_qual.value_counts(dropna=False)
##Assuming it doesn’t matter for your pay, which working arrangements would you prefer after COVID is under control? - categorical

wfh_feel_new_qual
NaN    195936
1.0     20609
2.0     15039
3.0      4580
Name: count, dtype: int64

In [59]:
df.employer_arr_qual.value_counts(dropna=False)
## What plans does your employer have for working arrangements of full-time employees after COVID, in 2022 or later?"

employer_arr_qual
NaN    232618
1.0      1711
2.0       849
4.0       470
3.0       448
5.0        68
Name: count, dtype: int64

In [60]:
df.wfh_less_stress.value_counts(dropna=False)
##On a scale of 0 to 10, how much do you agree with the following statement? "While working from home I am less stressed because I don't feel like I am constantly under supervision."

wfh_less_stress
NaN     233384
10.0       741
8.0        453
7.0        361
5.0        283
9.0        269
6.0        235
0.0        142
4.0        108
3.0         82
2.0         62
1.0         44
Name: count, dtype: int64

## Top 3 benefits

In [61]:
df.wfh_top3benefits_commute.value_counts(dropna=False) 
##Top 3 benefits of WFH include: No commute

wfh_top3benefits_commute
NaN      171082
0.0       40306
100.0     24776
Name: count, dtype: int64

In [62]:
df.wfh_top3benefits_groom.value_counts(dropna=False) 
##Top 3 benefits of WFH include: Less time getting ready"

wfh_top3benefits_groom
NaN      171082
0.0       41885
100.0     23197
Name: count, dtype: int64

In [63]:
df.wbp_top3benefits_equip.value_counts(dropna=False) 
##Top 3 benefits of WBP include: Better equipment"

wbp_top3benefits_equip
NaN      171076
0.0       39670
100.0     25418
Name: count, dtype: int64

### LIFE RANK PRIORITIES

In [64]:
df.life_rank_family.value_counts(dropna=False)

life_rank_family
NaN    232529
1.0      1994
2.0       833
3.0       293
4.0       215
5.0       152
6.0       148
Name: count, dtype: int64

label variable life_rank_family "Life priorities: Family (1 = Most important)"
label variable life_rank_friends "Life priorities: Friends (1 = Most important)"
label variable life_rank_work "Life priorities: Work (1 = Most important)"
label variable life_rank_politics "Life priorities: Politics (1 = Most important)"
label variable life_rank_leisure "Life priorities: Leisure time (1 = Most important)"
label variable life_rank_religion "Life priorities: Religion/spirituality (1 = Most important)"

## Columns to Keep 4 - Boss desires

In [74]:
columns_to_keep4 = ['wfh_days_postCOVID_s','wfh_days_postCOVID_ss','numwfh_days_postCOVID_boss_s_u','wfh_days_postCOVID_boss','wfh_days_postCOVID_boss_ss','year','month']
columns_to_drop4 = [col for col in df.columns if col not in columns_to_keep4]

In [75]:
dfb = df.drop(columns=columns_to_drop4)
display(dfb.shape)
dfb.head()

(236164, 7)

,numwfh_days_postCOVID_boss_s_u,wfh_days_postCOVID_s,wfh_days_postCOVID_ss,wfh_days_postCOVID_boss,wfh_days_postCOVID_boss_ss,year,month
0,0.0,2,1,1.0,1.0,2020,9
1,40.0,2,1,4.0,3.0,2023,10
2,80.0,6,5,6.0,5.0,2022,12
3,40.0,3,2,4.0,3.0,2023,9
4,80.0,3,2,6.0,5.0,2022,12

In [ ]:
# numwfh_days_postCOVID_boss_s_u 
# ##### Employer planned share of paid working days WFH after COVID (%)"

# wfh_days_postCOVID_ss
# ##### Desired number of paid WFH days after COVID - categorical, bundling together rarely and never

# wfh_days_postCOVID_s
## Desired number of paid WFH days after COVID - categorical

# wfh_days_postCOVID_boss
# ##### Employer's planned number of paid WFH days after COVID - categorical

# wfh_days_postCOVID_boss_ss
# ##### Employer's planned number of paid WFH days after COVID - categorical, bundling together rarely and never

In [67]:
# dfb.isna().sum()

In [76]:
dfb.dropna(inplace=True)
display(dfb.shape)
# dfb.head()

(205704, 7)

In [77]:
# Combine 'year' and 'month' columns into a new 'date' column
dfb['date'] = dfb['year'].astype(str) + '/' + dfb['month'].astype(str)

# Drop 'year' and 'month' columns
dfb.drop(['year', 'month'], axis=1, inplace=True)
dfb.head()

,numwfh_days_postCOVID_boss_s_u,wfh_days_postCOVID_s,wfh_days_postCOVID_ss,wfh_days_postCOVID_boss,wfh_days_postCOVID_boss_ss,date
0,0.0,2,1,1.0,1.0,2020/9
1,40.0,2,1,4.0,3.0,2023/10
2,80.0,6,5,6.0,5.0,2022/12
3,40.0,3,2,4.0,3.0,2023/9
4,80.0,3,2,6.0,5.0,2022/12

In [78]:
# dfb.to_excel('dfBoss.xlsx', index=False)

## Columns to keep3 - Commute time saved

In [ ]:
df.commutetime_towork.value_counts(dropna=False)

In [ ]:
columns_to_keep3 = ['extratime_sleep','extratime_outdoorexercise','extratime_indoorleisure','extratime_chores','extratime_childcare','extratime_1stjob','wfh_extraeff_comm_quant','commutetime_quant','wfh_extraeff_comm_qual','commutetime_fromwork','commutetime_towork','year','month']
columns_to_drop3 = [col for col in df.columns if col not in columns_to_keep3]

label variable extratime_1stjob  "Percent of commute time savings spent working on primary or current job"
label variable extratime_2ndjob "Percent of commute time savings spent on a second or new secondary job"
label variable extratime_childcare "Percent of commute time savings spent on childcare"
label variable extratime_chores "Percent of commute time savings spent on home improvement, chores, or shopping"
label variable extratime_indoorleisure "Percent of commute time savings spent on leisure indoors (e.g. reading, watching TV and movies)"
label variable extratime_outdoorexercise "Percent of commute time savings spent on exercise or outdoor leisure"
label variable extratime_sleep "Percent of commute time savings spent on sleep"

In [ ]:
dfc = df.drop(columns=columns_to_drop3)
display(dfc.shape)
dfc.head()

In [ ]:
# dfc.dropna(inplace=True)
# display(dfc.shape)
# dfc.head()

In [ ]:
# Combine 'year' and 'month' columns into a new 'date' column
dfc['date'] = dfc['year'].astype(str) + '/' + dfc['month'].astype(str)

# Drop 'year' and 'month' columns
dfc.drop(['year', 'month'], axis=1, inplace=True)
dfc.head()

In [ ]:
# dfc.to_excel('dfcommute.xlsx', index=False)

## Columns to keep2 - working premesis
*******************************************************
* For each day last week, did you work a full day (6 or more hours), and if so where (i.e. from home, on employer or client premises)?

1 "Did not work" 2 "Worked from home" 3 "Worked on employer or client premises" 4 "Other"

label variable workstatus_monday "Monday of last week, did you work a full day (6+ hours), and if so where?"
label variable workstatus_tuesday "Tuesday of last week, did you work a full day (6+ hours), and if so where?"
label variable workstatus_wednesday "Wednesday of last week, did you work a full day (6+ hours), and if so where?"
label variable workstatus_thursday "Thursday of last week, did you work a full day (6+ hours), and if so where?"
label variable workstatus_friday "Friday of last week, did you work a full day (6+ hours), and if so where?"
label variable workstatus_saturday "Saturday of last week, did you work a full day (6+ hours), and if so where?"
label variable workstatus_sunday "Sunday of last week, did you work a full day (6+ hours), and if so where?"

In [ ]:
columns_to_keep2 = ['year','month','work_industry','workstatus_monday','workstatus_tuesday','workstatus_wednesday','workstatus_thursday','workstatus_friday','workstatus_saturday','workstatus_sunday']
columns_to_drop2 = [col for col in df.columns if col not in columns_to_keep2]

In [ ]:
dfwp = df.drop(columns=columns_to_drop2)
display(dfwp.shape)
dfwp.head()

In [ ]:
dfwp.year.value_counts()

In [ ]:
dfwp.dropna(inplace=True)
display(dfwp.shape)
dfwp.head()

In [ ]:
dfwp.year.value_counts()

In [ ]:
# dfwp.to_excel('dfwp.xlsx', index=False)

## Columns to keep dfp - Participants

In [ ]:
columns_to_keep1 = ['year','month','agebin','gender_d','education_s','workstatus_current_new','work_industry','iincomebin']
columns_to_drop1 = [col for col in df.columns if col not in columns_to_keep1]
dfp = df.drop(columns=columns_to_drop1)
dfp.head(5)

In [ ]:
dfp.shape

* Age
label define agebin_lbl 2 "20 - 29", add
label define agebin_lbl 3 "30 - 39", add
label define agebin_lbl 4 "40 - 49", add
label define agebin_lbl 5 "50 - 64", add
label define agebin_lbl 6 "65+", add
label values agebin agebin_lbl
********************************************************************************
* Sex
* Note: gender_d includes the "Other/prefer not to say option" while gender focuses on male/female (sex only)
label define gender_lbl 1 "Female"
label define gender_lbl 2 "Male", add
label define gender_lbl 3 "Other/prefer not to say", add
********************************************************************************
* Education 
label define education_s_lbl 1 "Less than high-school degree"
label define education_s_lbl 2 "High-school degree", add
label define education_s_lbl 3 "1 to 3-years of college", add
label define education_s_lbl 4 "4-year college degree", add
label define education_s_lbl 5 "Graduate degree", add
label values education_s education_s_lbl
********************************************************************************
* Work Status 
label define workstatus_current_new_lbl 
1 "Working for pay" 
2 "Employed and paid, but not working" 
3 "Unemployed, searching" 
4 "Unemployed, awaiting recall" 
5 "Out of the labor force"
6 "Other"
********************************************************************************
* Industry of current job
label define work_industry_lbl 1 "Agriculture", 
label define work_industry_lbl 2 "Arts & Entertainment", add 
label define work_industry_lbl 3 "Finance & Insurance", add 
label define work_industry_lbl 4 "Construction", add 
label define work_industry_lbl 5 "Education", add
label define work_industry_lbl 6 "Health Care & Social Assistance", add
label define work_industry_lbl 7 "Hospitality & Food Services", add
label define work_industry_lbl 8 "Information", add
label define work_industry_lbl 9 "Manufacturing", add
label define work_industry_lbl 10 "Mining", add
label define work_industry_lbl 11 "Professional & Business Services", add
label define work_industry_lbl 12 "Real Estate", add
label define work_industry_lbl 13 "Retail Trade", add
label define work_industry_lbl 14 "Transportation and Warehousing", add
label define work_industry_lbl 15 "Utilities", add
label define work_industry_lbl 16 "Wholesale Trade", add
label define work_industry_lbl 17 "Government", add
label define work_industry_lbl 18 "Other", add
label values work_industry work_industry_lbl
********************************************************************************
* Income categories (coarse and fine)
label define iincomebin_lbl 
0 "$10k to $20k" 
1 "$20k to $50k" 
2 "$50k to $100k" 
3 "$100k to $150k" 
4 "$150k+"

### Dealing with NaN's in dfp

In [ ]:
# dfp.workstatus_current_new.value_counts(dropna=False)

In [ ]:
dfp['workstatus_current_new'] = dfp['workstatus_current_new'].fillna(6)
dfp.workstatus_current_new.value_counts(dropna=False)

In [ ]:
dfp.work_industry.value_counts(dropna=False)

In [ ]:
# Get the count of each category excluding NaN
category_counts = dfp['work_industry'].value_counts()

# Calculate the number of NaN values to assign to each category
na_count = dfp['work_industry'].isna().sum()
per_category = na_count // len(category_counts)
remaining_na = na_count % len(category_counts)

# Assign NaN values randomly to existing categories
nan_indices = dfp['work_industry'].isna()
nan_indices = nan_indices[nan_indices].index

for category, count in category_counts.items():
    indices = np.random.choice(nan_indices, min(per_category, len(nan_indices)), replace=False)
    dfp.loc[indices, 'work_industry'] = category
    nan_indices = nan_indices.difference(indices)

# Assign remaining NaN values if any
if remaining_na > 0:
    indices = np.random.choice(nan_indices, remaining_na, replace=False)
    dfp.loc[indices, 'work_industry'] = np.random.choice(category_counts.index, remaining_na)

# Check if there are any remaining NaN values
if dfp['work_industry'].isna().any():
    print("Some NaN values remain after spreading.")
else:
    print("NaN values have been spread over all values in the column.")

In [ ]:
dfp.work_industry.value_counts(dropna=False)

In [ ]:
if dfp.isna().any().any():
    print("There are still NaN values in the DataFrame.")
else:
    print("There are no NaN values in the DataFrame.")

In [ ]:
# dfp.to_csv('dfp.csv', index=False)

### Columns to keep wfhh-hours desired

In [ ]:
columns_to_keep = ['wfh_days_postCOVID_boss_ss','wfh_days_postCOVID_ss']
columns_to_drop = [col for col in df.columns if col not in columns_to_keep]
wfhh = df.drop(columns=columns_to_drop)
wfhh.head()

*******************************************************************************
* Employer planned post-COVID working from home days, for both categorical versions (bundled and unbundled "Rarely" and "Never" categories)
label define wfh_days_postCOVID_boss_ss_lbl 1 "Rarely or never"
label define wfh_days_postCOVID_boss_ss_lbl 2 "1 day per week", add
label define wfh_days_postCOVID_boss_ss_lbl 3 "2 days per week", add
label define wfh_days_postCOVID_boss_ss_lbl 4 "3 days per week", add
label define wfh_days_postCOVID_boss_ss_lbl 5 "4 days per week", add
label define wfh_days_postCOVID_boss_ss_lbl 6 "5 day per week", add
label define wfh_days_postCOVID_boss_ss_lbl 7 "No clear plans from employer", add
label define wfh_days_postCOVID_boss_ss_lbl 8 "No employer", add
*******************************************************************************
* Desired post-COVID working from home days, for both categorical versions (bundled and unbundled "Rarely" and "Never" categories)
label define wfh_days_postCOVID_ss_lbl 1 "Rarely or never"
label define wfh_days_postCOVID_ss_lbl 2 "1 day per week", add
label define wfh_days_postCOVID_ss_lbl 3 "2 days per week", add
label define wfh_days_postCOVID_ss_lbl 4 "3 days per week", add
label define wfh_days_postCOVID_ss_lbl 5 "4 days per week", add
label define wfh_days_postCOVID_ss_lbl 6 "5 days per week", add

In [ ]:
wfhh.shape

In [ ]:
wfhh.wfh_days_postCOVID_boss_ss.value_counts(dropna=False)

In [ ]:
wfhh.wfh_days_postCOVID_ss.value_counts(dropna=False)

In [ ]:
# Get the count of each category excluding NaN
category_counts = wfhh['wfh_days_postCOVID_boss_ss'].value_counts()

# Calculate the number of NaN values to assign to each category
na_count = wfhh['wfh_days_postCOVID_boss_ss'].isna().sum()
per_category = na_count // len(category_counts)
remaining_na = na_count % len(category_counts)

# Assign NaN values randomly to existing categories
nan_indices = wfhh['wfh_days_postCOVID_boss_ss'].isna()
nan_indices = nan_indices[nan_indices].index

for category, count in category_counts.items():
    indices = np.random.choice(nan_indices, min(per_category, len(nan_indices)), replace=False)
    wfhh.loc[indices, 'wfh_days_postCOVID_boss_ss'] = category
    nan_indices = nan_indices.difference(indices)

# Assign remaining NaN values if any
if remaining_na > 0:
    indices = np.random.choice(nan_indices, remaining_na, replace=False)
    wfhh.loc[indices, 'wfh_days_postCOVID_boss_ss'] = np.random.choice(category_counts.index, remaining_na)

# Check if there are any remaining NaN values
if wfhh['wfh_days_postCOVID_boss_ss'].isna().any():
    print("Some NaN values remain after spreading.")
else:
    print("NaN values have been spread over all values in the column.")

In [ ]:
wfhh.wfh_days_postCOVID_boss_ss.value_counts(dropna=False)

### Columns to keep wfhc-effeciancy and equipment

In [ ]:
pd.set_option('display.max_columns',None)

In [ ]:
columns_to_keep = ['wfh_top3benefits_commute','wfh_top3benefits_groom','wfh_top3benefits_flex','wfh_top3benefits_meetings','wfh_top3benefits_quiet','wfh_top3benefits_family','wfh_top3benefits_other','wbp_top3benefits_collab','wbp_top3benefits_social','wbp_top3benefits_facetime','wbp_top3benefits_equip','wbp_top3benefits_quiet','wbp_top3benefits_bound','wbp_top3benefits_other']
columns_to_drop = [col for col in df.columns if col not in columns_to_keep]
wfhc = df.drop(columns=columns_to_drop)
wfhc.head()

In [ ]:
wfhc.shape

In [ ]:
wfhc.isna().sum()

label variable wfh_top3benefits_commute "Top 3 benefits of WFH include: No commute"
label variable wfh_top3benefits_groom "Top 3 benefits of WFH include: Less time getting ready"
label variable wfh_top3benefits_flex "Top 3 benefits of WFH include: Flexibility on when I work"
label variable wfh_top3benefits_meetings "Top 3 benefits of WFH include: Fewer meetings"
label variable wfh_top3benefits_quiet  "Top 3 benefits of WFH include: Individual quiet time"
label variable wfh_top3benefits_family  "Top 3 benefits of WFH include: More time with family/friends"
label variable wfh_top3benefits_other  "Top 3 benefits of WFH include: Other"

label variable wbp_top3benefits_collab "Top 3 benefits of WBP include: Face-toface collaboration" 
label variable wbp_top3benefits_social "Top 3 benefits of WBP include: Socializing" 
label variable wbp_top3benefits_facetime "Top 3 benefits of WBP include: Face time with manager"
label variable wbp_top3benefits_equip "Top 3 benefits of WBP include: Better equipment"
label variable wbp_top3benefits_quiet "Top 3 benefits of WBP include: Quiet"
label variable wbp_top3benefits_bound "Top 3 benefits of WBP include: Work/personal time boundaries"
label variable wbp_top3benefits_other  "Top 3 benefits of WBP include: Other"

In [ ]:
wfhc.shape

In [ ]:
for column in wfhc.columns:
    print("Column:", column)
    print(wfhc[column].value_counts(dropna=False))
    print()

### Dealing with NaN's in wfhc

In [ ]:
wfhc=wfhc.dropna()
wfhc.shape

In [ ]:
# wfhc.to_csv('wfhc.csv', index=False)

## whfc + dfp = rem

In [ ]:
columns_to_keep = ['wfh_days_postCOVID_boss_ss','wfh_days_postCOVID_ss','year','month','agebin','gender_d','education_s','workstatus_current_new','work_industry','iincomebin','wfh_top3benefits_commute','wfh_top3benefits_groom','wfh_top3benefits_flex','wfh_top3benefits_meetings','wfh_top3benefits_quiet','wfh_top3benefits_family','wfh_top3benefits_other','wbp_top3benefits_collab','wbp_top3benefits_social','wbp_top3benefits_facetime','wbp_top3benefits_equip','wbp_top3benefits_quiet','wbp_top3benefits_bound','wbp_top3benefits_other']
columns_to_drop = [col for col in df.columns if col not in columns_to_keep]
rem = df.drop(columns=columns_to_drop)
rem.head()

In [ ]:
rem.shape

### cleaning NaNs in rem

In [ ]:
dfp['workstatus_current_new'] = dfp['workstatus_current_new'].fillna(6)
dfp.workstatus_current_new.value_counts(dropna=False)

In [ ]:
# Get the count of each category excluding NaN
category_counts = dfp['work_industry'].value_counts()

# Calculate the number of NaN values to assign to each category
na_count = dfp['work_industry'].isna().sum()
per_category = na_count // len(category_counts)
remaining_na = na_count % len(category_counts)

# Assign NaN values randomly to existing categories
nan_indices = dfp['work_industry'].isna()
nan_indices = nan_indices[nan_indices].index

for category, count in category_counts.items():
    indices = np.random.choice(nan_indices, min(per_category, len(nan_indices)), replace=False)
    dfp.loc[indices, 'work_industry'] = category
    nan_indices = nan_indices.difference(indices)

# Assign remaining NaN values if any
if remaining_na > 0:
    indices = np.random.choice(nan_indices, remaining_na, replace=False)
    dfp.loc[indices, 'work_industry'] = np.random.choice(category_counts.index, remaining_na)

# Check if there are any remaining NaN values
if dfp['work_industry'].isna().any():
    print("Some NaN values remain after spreading.")
else:
    print("NaN values have been spread over all values in the column.")

In [ ]:
rem=rem.dropna()
rem.reset_index(drop=True, inplace=True)
rem.replace(100.0, 1, inplace=True)

In [ ]:
rem.shape

In [ ]:
rem.head()

In [ ]:
# rem.to_csv('rem.csv', index=False)